.options {
  padding-bottom: 15px;
}

.options-header {
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option-item {
  padding: 8px 15px;
  border: 1px solid #2898ec;
  border-radius: 25px;
  color: #2898ec;
  font-size: 0.9rem;
  margin: 3px;
}
.option-item:hover {
  padding: 8px 15px;
  border: 1px solid #39719c;
  border-radius: 25px;
  background-color: aqua;
  color: #285374;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 3px;
}
.option-item:active {
  padding: 8px 15px;
  border: 1px solid #39719c;
  border-radius: 25px;
  background-color: rgba(0, 255, 255, 0.541);
  color: #285374;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 3px;
  opacity: 0.75;
}
